DO NOT COMMIT THIS FILE, rename the file to .env and make sure it is in your git ignore!
You'll get your credentials from our welcome google slides. Make sure you are using the right credentials for sandbox. 

CLIENT_ID=
CLIENT_SECRET=